.about-main{
    margin: 4rem 6rem;
}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-left{
    display: flex;
    justify-content: space-between;
    color: rgb(52, 31, 0);
    flex-direction: column;
    margin-right: 1rem;
    /* border: 1px solid black; */
    border-radius: 10px;
    align-items: flex-start;
    width: 60%;
}


.top-right{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid black; */

    align-items: flex-start;
    width: 40%;
}

.top-right img{
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    box-shadow: 0 5px 15px 0 rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
    margin-left: 1.5rem;
}

.top-right img:hover{
    transform: scale(0.9);
}

.top-left p{
    font-size: 1.3rem;
    text-align: justify;
    color: rgb(0, 52, 38);
}

.about-top ul{
    display: flex;
    flex-direction: row;
    list-style-type: disclosure-closed;
}

.about-top ul li{
    margin: 1.2rem;
    padding: 0.2rem;
}
